@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@400;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  --font-family: 'Turret Road', cursive; /*w 400 & 800*/
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
